# Dependencias
node_modules/

# Build y cache Angular
dist/
.angular/
*.tsbuildinfo

# Entorno y secretos
.env
.env.local
.env.*.local
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
.eggs/
build/

# Django
*.log
db.sqlite3
staticfiles/
media/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
