# Entorno y secretos
.env
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

# Django
*.log
db.sqlite3
staticfiles/
media/

# IDE
.idea/
.vscode/
*.swp
*.swo
